.sign-out-link {
  position: fixed;
  top: 0;
  right: 2%;
  padding: .2rem;
  border: none;
  font-size: 1rem;
  border-radius: 0 0 .2rem .2rem;
  background-color: #841630;
  color: white;
  text-decoration: none;
  z-index: 50;
  width: fit-content;
}

