.sign-out-link {
  position: fixed;
  top: 0;
  right: 2%;
  padding: .2rem;
  border: none;
  font-size: 1rem;
  border-radius: 0 0 .2rem .2rem;
  background-color: #841630;
  color: white;
  z-index: 50;
  width: fit-content;
  a {
    color: white;
    display: inline-block;
    padding: 0 .5rem;
    width: 1.5rem;
    height: 1.5rem;
    text-decoration: none;
  }
}

